/*
	JS NAT Challenge Global Stylesheet

	Author: Jason Lunsford
	Version: 1.0
	URL:
	
	-----------------------------------------
	CONTENTS - MAIN.CSS
	-----------------------------------------
	1. GLOBAL LAYOUT
	2. TYPOGRAPHY
	3. LINKS & BUTTONS & FORMS
	4. SITE HEADER
	5. MAIN CONTENT
	6. SITE FOOTER
	7. BROWSER AND NON-SEMANTIC STYLING

*/

/* 1. GLOBAL LAYOUT
----------------------------------------------------------------------------------------*/



/* 2. TYPOGRAPHY
----------------------------------------------------------------------------------------*/

	p { 

	}
	
	h1 {

	}
	
	h2 {

	}

/* 3. LINKS & BUTTONS & FORMS
----------------------------------------------------------------------------------------*/

	a {

	}
	a:hover {  }
	
	input[type="text"] { border:0;  }

/* 4. SITE HEADER
----------------------------------------------------------------------------------------*/

	div.siteHeader {

	}
	

	
/* 5. MAIN CONTENT
----------------------------------------------------------------------------------------*/

	section.mainContent {

	}
	

/* 6. SITE FOOTER
----------------------------------------------------------------------------------------*/

	div.siteFooter {

	}
	


/* 8. BROWSER AND NON-SEMANTIC STYLING
----------------------------------------------------------------------------------------*/

	.hidden {
		display:none !important;
		visibility:hidden;
	}
