/*
	JS NAT Challenge Global Stylesheet

	Author: Jason Lunsford
	Version: 1.0
	URL:
	
	-----------------------------------------
	CONTENTS - MAIN.CSS
	-----------------------------------------
	1. GLOBAL LAYOUT
	2. TYPOGRAPHY
	3. LINKS & BUTTONS & FORMS
	4. SITE HEADER
	5. MAIN CONTENT
	6. SITE FOOTER
	7. BROWSER AND NON-SEMANTIC STYLING

*/

/* 1. GLOBAL LAYOUT
----------------------------------------------------------------------------------------*/

	html { height:100%; }

	body:before, body:after {
		background:#107C10;
		content:"";
		height:5px;
		left:0;
		position:fixed;
		right:0;

	}
	body:before { top:0; }
	
	body:after { bottom: 0; }
	
	body {
		border-left:5px solid #107C10;
		border-right:5px solid #107C10;  
		min-height:100%;
		padding:10px 0px 0px 0px;
	}
	



/* 2. TYPOGRAPHY
----------------------------------------------------------------------------------------*/

	p { 

	}
	
	h1 {
		margin:0px;
		text-align:center;
	}
	
	h2 {
		border-bottom:2px solid #107C10;
		margin:0px;
	}

/* 3. LINKS & BUTTONS & FORMS
----------------------------------------------------------------------------------------*/

	a {

	}
	a:hover {  }
	
	input[type="text"] { border:0;  }

/* 4. SITE HEADER
----------------------------------------------------------------------------------------*/

	div.siteHeader {
		margin:50px 0px 0px 0px;
	}
	

	
/* 5. MAIN CONTENT
----------------------------------------------------------------------------------------*/

	section.mainContent {
		margin:50px 0px 60px 0px;
		min-height:500px;
	}
	
	section.mainContent > div {
		float:left;
	}
	
	section.mainContent div.titlesOwned { width:40%; }
	
	section.mainContent div.titlesDesired { width:60%; }
	

	section.mainContent div.titlesOwned h2 { margin:0px 20px 0px 0px; }
	

/* 6. SITE FOOTER
----------------------------------------------------------------------------------------*/

	div.siteFooter {

	}
	


/* 8. BROWSER AND NON-SEMANTIC STYLING
----------------------------------------------------------------------------------------*/

	.hidden {
		display:none !important;
		visibility:hidden;
	}
