<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Game</th>
			<th>Votes</th>
			<th></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td class="lastItem"></td>
		</tr>
	</tfoot>
	<tbody>
		<tr data-activaterow data-ng-repeat="game in gamesWeWantTable">
			<td>{{game.title}}</td>
			<td>{{game.votes}}</td>
			<td class="lastItem">
				<button type="button" class="invisible" data-ng-click="voteForMe(game.id)">Vote!</button>
				<button type="button" class="invisible rightBtn" data-ng-click="weOwnThis(game.id)">Own It!</button>
			</td>
		</tr>
	</tbody>
</table>
